#container {
  max-width: 80px !important;
  max-height: 80px !important;
  overflow: scroll;
}

#face-capture-module-root {
  max-width: 80px !important;
  max-height: 80px !important;
  width: 80px !important;
  height: 80px !important;
  overflow: scroll;
}
